@model ProductCreateModel
<div>
	<form method="post" asp-action="Create">
		<div class="form-group">
			<label asp-for="Name">
				Name
			</label>
			<input asp-for="Name" class="form-control"/>
		</div>
		<div class="form-group">
			<label asp-for="Description">
				Description
			</label>
			<input asp-for="Description" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Price">
				Price
			</label>
			<input asp-for="Price" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Discount">
				Discount
			</label>
			<input asp-for="Discount" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="CategoryId">
				Category
			</label>
			<select  asp-for="CategoryId" class="form-control category-select">
				<option value="">Select Category</option>
				@foreach(var category in (List<CategoryModel>)ViewBag.Categories)
				{
					<option value="@category.Id" >@category.Name</option>
				}
			</select>
			<div class="form-group name new-category">
				<label asp-for="CategoryName">
					Category Name
				</label>
				<input asp-for="CategoryName" class="form-control" />
			</div>
			<div class="form-group description new-category">
				<label asp-for="CategoryDescription">
					Category Description
				</label>
				<input asp-for="CategoryDescription" class="form-control" />
			</div>
		</div>
		<style>
			.none{
				display:none;
			}
		</style>
		

			
		<input type="hidden" name="returnUrl" value="@(ViewBag.ReturnUrl??"/Product")"/>
		<div class="form-group">
			<button id="btn" class="btn btn-success" type="submit">Save</button>
			<a class="btn btn-outline-danger" href="@(ViewBag.ReturnUrl??"/Product")">Cancel</a>
		</div>
	</form>
	<div asp-validation-summary="All" class="text-danger"></div>

	<script>


		$('.category-select').change(function () {
			console.log($('.category-select').val())
			if ($('.category-select').val()) {
				$('.new-category').addClass('none')
			}
			else {
				$('.new-category').removeClass('none')
			}
		})




		const test = document.querySelector(".test")
		const name = document.querySelector(".name")
		const description = document.querySelector(".description")
		const btn = document.querySelector("#btn")
		name.classList.add("none")
		description.classList.add("none")
		function handleChange(value) {
		if(value){
				console.log("ishladi", test.value)
				name.classList.add("none")
				decription.classList.add("none")
			}
		}



	</script>
</div>